.controls-panel {
  display: flex;
  flex-direction: row;       /* ← LOS ALINEA EN FILA */
  gap: 0.5rem;               /* ← espacio entre botones */
  flex-wrap: wrap;           /* ← permite que salten de línea si hay poco espacio */
  padding: 0.5rem;
  justify-content: flex-start;
}
.controls-panel button {
  background: linear-gradient(135deg, #65a30d, #4d7c0f);
  border-radius: 999px;
  box-shadow: rgba(77, 124, 15, 0.45) 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.controls-panel button:hover {
   background: linear-gradient(135deg, #4d7c0f, #365314)
}



