@if (winnerMessage) {
  <p class="winner-banner">{{ winnerMessage }}</p>
}

<div class="terrain-wrapper" *ngIf="board$ | async as board">
  <div
    class="terrain-board"
    [style.width]="boardWidth(board.length, board[0].length)"
    [style.height]="boardHeight(board.length, board[0].length)"
  >
    <ng-container *ngFor="let row of board; let i = index">
      <ng-container *ngFor="let cell of row; let j = index">
        <div
          class="terrain-tile"
          [class.territory-nox]="cell === 'black'"
          [class.territory-lira]="cell === 'white'"
          [class.territory-focus]="(retoId === 4 || retoId === 8) && (i === 2 || i === 3 || j === 2 || j === 3)"
          [ngStyle]="getTileStyle(i, j)"
        >
          <app-cell [state]="cell" (cellClick)="onCellClick(i, j)"></app-cell>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
