@if (winnerMessage) {
  <p class="winner-banner">{{ winnerMessage }}</p>
}

<div class="board-wrapper" [class.island-mode]="retoId !== null">
  <div
    class="board"
    [class.island-mode]="retoId !== null"
    *ngIf="board$ | async as board"
    [style.--board-rows]="board.length"
    [style.--board-cols]="board[0].length"
  >
    <div class="cell header empty"></div>

    <ng-container *ngFor="let _ of board[0]; let col = index">
      <div class="cell header col-label">
        {{ ('ABCDEFGHIJKLMNOPQRSTUVWXYZ')[col] }}
      </div>
    </ng-container>

    <ng-container *ngFor="let row of board; let i = index">
      <ng-container *ngFor="let cell of row; let j = index">
        <app-cell
          class="cell"
          [class.territory-nox]="cell === 'black'"
          [class.territory-lira]="cell === 'white'"
          [state]="cell"
          (cellClick)="onCellClick(i, j)"
          [ngClass]="{ 'highlight': (retoId === 4 || retoId === 8) && (i === 2 || i === 3 || j === 2 || j === 3) }"
        ></app-cell>
      </ng-container>
    </ng-container>
  </div>
</div>
