@if (winnerMessage) {
  <p class="winner-banner">{{ winnerMessage }}</p>
}

<div class="board-wrapper island-mode" *ngIf="board$ | async as board">
  <div
    class="board island-mode"
    [style.--board-rows]="board.length"
    [style.--board-cols]="board[0].length"
  >
    <div class="cell header empty"></div>

    <ng-container *ngFor="let _ of board[0]; let col = index">
      <div class="cell header col-label">{{ ('ABCDEFGHIJKLMNOPQRSTUVWXYZ')[col] }}</div>
    </ng-container>

    <ng-container *ngFor="let row of board; let i = index">
      <div class="cell header row-label">{{ i + 1 }}</div>
      <ng-container *ngFor="let cell of row; let j = index">
        <app-variant2-cell
          class="cell"
          [class.territory-nox]="cell === 'black'"
          [class.territory-lira]="cell === 'white'"
          [state]="cell"
          (cellClick)="onCellClick(i, j)">
        </app-variant2-cell>
      </ng-container>
    </ng-container>
  </div>
</div>
