@if (winnerMessage) {
  <p class="winner-banner">{{ winnerMessage }}</p>
}

<div class="terrain-wrapper" *ngIf="board$ | async as board">
  <div class="terrain-board" [style.width]="boardWidth(board.length, board[0].length)" [style.height]="boardHeight(board.length, board[0].length)">
    <ng-container *ngFor="let row of board; let i = index">
      <ng-container *ngFor="let cell of row; let j = index">
        <div class="terrain-tile" [class.territory-nox]="cell === 'black'" [class.territory-lira]="cell === 'white'" [ngStyle]="getTileStyle(i, j)">
          <app-variant2-cell [state]="cell" (cellClick)="onCellClick(i, j)"></app-variant2-cell>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
